::selection {
  background: green;
  color: white;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  flex-shrink: 0;
}

main {
  max-width: 800px;
  margin: auto;
  display: flex;
}

aside {
  float: left;
  background-color: red;
  width: 200px;
  flex-shrink: 0;
  height: 900px;
}

div {
  text-align: justify;
  float: right;
  margin: 20px;
  width: fit-content;
  display: flow;
}

ul {
  list-style: none;
  color: white;
}

li {
  margin-bottom: 20px;
}
li:hover {
  background-color: green;
}

a {
  color: white;
}

header,
footer {
  color: white;
  text-align: center;
  padding: 5px;
}

header {
  font-size: 28px;
  background-color: green;
}

footer {
  background-color: black;
  clear: both;
}

/*
green
white
red
black
*/
